In [58]:
#import library for array
from array import*

In [59]:
#create array
my_ar = array('i',[1,2,3,4,5])
print(my_ar)

array('i', [1, 2, 3, 4, 5])

In [60]:
#append any element to array
my_ar.append(10)
print(my_ar)

array('i', [1, 2, 3, 4, 5, 10])

In [61]:
#if you want add multiple elements to array
my_ar.extend([2,3,4,5])
my_ar

array('i', [1, 2, 3, 4, 5, 10, 2, 3, 4, 5])

In [62]:
#insert any element to specific location
my_ar.insert(0,0)
my_ar

array('i', [0, 1, 2, 3, 4, 5, 10, 2, 3, 4, 5])

In [63]:
#update any value using index value
my_ar[1] = -1
my_ar

array('i', [0, -1, 2, 3, 4, 5, 10, 2, 3, 4, 5])

In [64]:
#perform for loop on array
for i in my_ar:
    print(i)

0
-1
2
3
4
5
10
2
3
4
5

In [65]:
#remove any element from your array
my_ar.pop(0)
my_ar

array('i', [-1, 2, 3, 4, 5, 10, 2, 3, 4, 5])

In [66]:
#find index value of any element
a = my_ar.index(2)
a

1

# DSA Lab Second Task

In [67]:
#Part 1 
print("Welcome you all in the course of Data Structures!")

#Part 2
dsastring = "Muneeb"
dsafloat = 15.5
dsaint = 50

Welcome you all in the course of Data Structures!

In [68]:
#Part 3 
even_array = array('i',[2,4,6,8,10,12,14,16,18,20])
odd_array = array('b',[1,3,5,7,9,11,13,15,17,19])

In [69]:
#Perform Traversing on both arrays to print array elements on by on

#traversing for even numbers array
for i in even_array:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [70]:
#traversing for even numbers array
for j in odd_array:
    print(j)

1
3
5
7
9
11
13
15
17
19

In [71]:
#Insertion on both arrays, insertion is like adding elements to  array

#insert/add elements to even_array
even_array.append(22)

#insert/add multiple elements to array
even_array.extend([24,26])

even_array

array('i', [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26])

In [72]:
#insert/add elements to odd_array
odd_array.append(21)

#insert/add multiple elements to array
odd_array.extend([23,25])

odd_array

array('b', [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25])

In [73]:
#Perform Deletion operation on Array

#Delete/Remove any element from even_array
even_array.remove(26)
even_array

array('i', [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24])

In [74]:
# Delete/Remove any element from odd_array
odd_array.remove(25)
odd_array

array('b', [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23])

In [75]:
# Serching Operation on array, searching is like finding any element using index

#Search Operation for index value on even_array using element

#it prints index of element '2' which is 0

print(even_array.index(2))

#it prints value at index '2' which 6
print(even_array[2])

#it prints values from index 2 to index 7
print(even_array[2:8])


#Search Operation for index value on odd_array using element

#it prints index of element '2' which is 3
print(odd_array.index(7))

#it prints value at index '2' which is 11
print(odd_array[5])

#it prints values from index 0 to index 9
print(odd_array[0:10])

0
6
array('i', [6, 8, 10, 12, 14, 16])
3
11
array('b', [1, 3, 5, 7, 9, 11, 13, 15, 17, 19])

In [76]:
#Update operation can perform on arrays to change/modify array elements

#update operation even_array

#i am changing element at index 3
even_array[3] = 32
print(even_array)


#update operation odd_array

#i am changing element at index 7
odd_array[7] = 27
print(odd_array)

array('i', [2, 4, 6, 32, 10, 12, 14, 16, 18, 20, 22, 24])
array('b', [1, 3, 5, 7, 9, 11, 13, 27, 17, 19, 21, 23])

# Task Number Two DSA Lab of Muneeb Ahmed Abbasi

# Create an array of your semester courses and perform following operations on Array using python

# ‚¶Å	Traverse-Insertion-Deletion-Search-Update¬†

#my_courses = ['ICT','Calculus','DSA','Intro to Python','English1','English2','DBMS','Artificial Intelligence']

# Traverse Operation on my_courses
## it prints elements step by step

In [86]:
for course in my_courses:
    print(course)

ICT
Calculus
DSA
Intro to Python
English1
English2
DBMS
Artificial Intelligence

# Insertion Operation on My_Courses array to add another course

In [87]:
my_courses.append('Operating System')
my_courses.extend(['Machine Learing','Deep Learning'])
my_courses

['ICT',
 'Calculus',
 'DSA',
 'Intro to Python',
 'English1',
 'English2',
 'DBMS',
 'Artificial Intelligence',
 'Operating System',
 'Machine Learing',
 'Deep Learning']

# Deletion Operation on My_Courses to remove a course

In [88]:
my_courses.remove('Operating System')
my_courses

['ICT',
 'Calculus',
 'DSA',
 'Intro to Python',
 'English1',
 'English2',
 'DBMS',
 'Artificial Intelligence',
 'Machine Learing',
 'Deep Learning']

In [90]:
#pop deletes any element using index 
my_courses.pop(0)
my_courses

['Calculus',
 'DSA',
 'Intro to Python',
 'English1',
 'English2',
 'DBMS',
 'Artificial Intelligence',
 'Machine Learing',
 'Deep Learning']

# Search Operation on array my_courses

In [93]:
#search or find elements using index values slicing

#it print element from index 1 to 3
print(my_courses[1:4])

#i can print last element of my array using '-1'
print(my_courses[-1])

['DSA', 'Intro to Python', 'English1']
Deep Learning

# Update Operation on array my_courses

In [94]:
#i am updating element at index 1 
my_courses[1] = 'Data Structure and Algorithms'
my_courses

['Calculus',
 'Data Structure and Algorithms',
 'Intro to Python',
 'English1',
 'English2',
 'DBMS',
 'Artificial Intelligence',
 'Machine Learing',
 'Deep Learning']